		html{background-color:rgb(220, 220, 220);}
		h1{font-size: 42%;margin: 0 10%;width: 80.0%;}
		table{margin:2.0% auto 0 auto;overflow: hidden;}
		td{border:1% solid black;width:6.0%;height:6.0%;padding:0;}
		td.violet{background-color:rgb(171, 145, 255)}
		td.orange{background-color:rgb(255, 197, 145)}
		td.orange_light{background-color:rgb(255, 223, 143)}
		td.green_light1{background-color:rgb(236, 255, 145)}
		td.green_light2{background-color:rgb(210, 255, 145)}
		td.green{background-color:rgb(184, 255, 145)}
		td.green_dark{background-color:rgb(146, 255, 159)}
		td.yellow{background-color:rgb(255, 249, 145)}
		td.grey{background-color:rgb(200, 200, 200)}
		td.pink{background-color:rgb(171, 145, 255)}
		td.blue{background-color:rgb(145, 223, 255)}
		td.transparent{border-style: hidden;}
		div{margin:0;padding:0;text-align: center;}
		.symbol{width:5.8%;height:2.0%;margin:0;font-size: 2.5%;;text-align: center;vertical-align: top}
		.num_element{float:left;vertical-align: bottom;margin:.5% 0 0 .2%;font-size: 1.2%}
		.atomic_weight{width:5.8%;text-align: right;margin:0 0 0 0;font-size: 1.2%}
		.float_right{float:right;}
		.float_left{float:left;}
		.align_bottom{vertical-align: bottom}
		.align_top{vertical-align: top}
		.align_middle{vertical-align: middle}
		div#block_img{}
		img#face{width: 20.0%;margin:1.0% auto;}