html{
		background-color:rgb(220, 220, 220);
}

#main /* Ensemble du menu */
{
        font-size : 12px; /* hauteur du texte : 12 pixels */
}

#main, #main ul /* Liste */     
{
        padding : 0; /* pas de marge intérieure */
        margin : 0; /* ni extérieure */
        list-style : none; /* on supprime le style par défaut de la liste */
        line-height : 21px; /* on définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
}

#main a{
		display:block;
		padding:0;
		background: rgb(200, 200, 200);
		color:#fff;
		text-decoration: none;
		width: 150px;
}

#main li /* Elements des listes */      
{ 
        float : left; 
        /* pour IE qui ne reconnaît pas "transparent" */
        border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */
}